<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="fonts.css">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
      <script type="text/javascript" src="scripts/send_email.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   </head>
   <body>
      <nav class="navbar navbar-default" style="height: 94px">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span> <span class="icon-bar"></span>
               </button>
               <a href="#" class="navbar-brand"><img class="ico" src="images/icono.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
               <form class="navbar-form navbar-left">
                  <div class="form-group"> <input class="form-control" placeholder="Search"> </div>
                  <button type="submit" class="btn btn-default">Submit</button>
               </form>
            </div>
         </div>
      </nav>
      <div class="hero">
         <h1 class="text-hero">Elige un  envio que se adapte  a tus tiempos y costos de forma segura y rapida</h1>
         <p><button type="button" class="button-section4 btn btn-primary" data-toggle="modal" data-target="#myModal">Cotizar</button></p>
         <img src="./images/ATF-1.jpg" />
      </div>
      <div class="container">
         <!-- Modal -->
         <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Descubre la mejor oferta de envío</h4>
                  </div>
                  <div class="modal-luz"></div>
                  <div class="modal-body">
                     <div class="modal-description fields">
                        <h4>¿Desde dónde?</h4>
                        <label><input id="from-zip" maxlength="5" type="text" placeholder="Ingrese CP" class="form-control" required/></label>
                        <h4>¿Hacia dónde?</h4>
                        <label><input id="to-zip" maxlength="5" type="text" placeholder="Ingrese CP" class="form-control" required/></label>
                     </div>
                     <div class="modal-description fields">
                        <label>
                           <select id="send-kind" class="form-control listo-modal">
                              <option value="">¿Qué envías?</option>
                              <option value="Documento">Documento</option>
                              <option value="Paquete">Paquete</option>
                           </select>
                        </label>
                     </div>
                     <div class="modal-description fields position-modal">
                        <h4>Largo(cm)</h4>
                        <label><input id="long-description" type="text" class="form-control" required/></label>
                        <h4>Ancho(cm)</h4>
                        <label><input id="width-description"type="text" class="form-control" required/></label>
                        <h4>Alto(cm)</h4>
                        <label><input id="high-description" type="text" class="form-control" required/></label>
                        <h4>Peso(kg)</h4>
                        <label><input id="weight-description" type="text" class="form-control" required/></label>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="cotizar" class="btn btn-default" data-dismiss="modal">Cotizar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="darkbar">
         <h1 id="info-bar" class="info">¿Vendes en linea? Envia a través de Yaay Mas información.</h1>
      </div>
      <div class="bs-example" data-example-id="thumbnails-with-custom-content">
         <div class="row section2">
            <div class="col-sm-6 col-md-4">
               <h3>Logo 1</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3>Logo 2</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3>Logo 3</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3>Logo 4</h3>
            </div>
         </div>
      </div>
      <div class="section-info" data-example-id="thumbnails-with-custom-content">
         <div class="row">
            <div class="col-sm-6 col-md-4">
               <h3 class="label-section3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 1.Completa el formulario</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3 class="label-section3"><i class="fa fa-envelope" aria-hidden="true"></i> 2.Recibe nuestras ofertas en tu correo</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3 class="label-section3"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> 3.Paga e imprime tu guia</h3>
            </div>
            <div class="col-sm-6 col-md-4">
               <h3 class="label-section3"><i class="fa fa-map-marker" aria-hidden="true"></i> 4.Programa tu recoleccion</h3>
            </div>
         </div>
      </div>
      <div>
         <h1 class="m-text-section4">Yaay es una plaraforma confiable y segura </h1>
         <h1 class="text-section4">Yaay es una plaraforma confiable y segura que te permite personalizar tus envios y elegir el que  se adapte mejor a ti</h1>
         <h1 class="text2-section4">Además a través de Yaay puedes dar seguimiento a tus comprasy recibir increibles recompensas por cada envío</h1>
         <img class="image2" src="./images/Image-home-2.jpg" />
         <img class="logo2" src="./images/Logo-white.png" />
      </div>
      <div style="margin-bottom: 1%" class='form-control-position'>
         <div class="row">
            <div class="col-sm-6 col-md-4 fields">
               <p><span>Nombre de la empresa o proyecto:</span></p>
               <input type="text" class="form-control form-control-input">
               <p><span>Correo electónico de contacto:</span></p>
               <input type="text" class="form-control form-control-input">
               <p><span>¿Cómo conocio Yaay?</span></p>
               <input type="text" class="form-control form-control-input">
            </div>
            <div class="col-sm-6 col-md-4 fields">
               <p><span>Teléfono móvil ( Whatsapp ):</span></p>
               <input type="text" class="form-control form-control-input">
               <p><span>Sitio web de la empresa:</span></p>
               <input type="text" class="form-control form-control-input">
               <p><input type="checkbox"/><span>Acepto los términos de servicio</span></p>
            </div>
         </div>
      </div>
      <div style="display:none;">
         <form id="myform">
            <label>reply_to</label>
            <input type="text" name="reply_to" />
            <label>from_name</label>
            <input type="text" name="from_name" />
            <label>to_name</label>
            <input type="text" name="to_name" />
            <label>message_html</label>
            <input type="text" id="message_html" name="message_html" />
            <br><br>
            <input type="submit" value="Go">
         </form>
      </div>
      <footer class="main-footer">
         <div class="row">
            <div class="col-sm-6 col-md-4 footer-space">
               <a href="#"><img class="ico-footer" src="images/icono.png"></a>
            </div>
            <div class="col-sm-6 col-md-4 footer-space">
               <p>
                  <b>Acerca de</b>
               </p>
               <p>
               <p><span><a class="link-footer">Documentación</a></span></p>
               <p><span><a class="link-footer">Preguntas Frecuentes</a></span></p>
               <p><span><a class="link-footer">Programde de recompensas</a></span></p>
               </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-space">
               <p>
                  <b>Legal</b>
               </p>
               <p>
               <p><span><a class="link-footer">Nuestras Politicas</a></span></p>
               <p><span><a class="link-footer">Aviso de privacidad</a></span></p>
               <p><span><a class="link-footer">Términos y condiciones</a></span></p>
               </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-space">
               <p>
                  <b>Nosotros</b>
               </p>
               <p>
               <p><span><a class="link-footer">Nuestras Politicas</a></span></p>
               <p><span><a class="link-footer">Aviso de privacidad</a></span></p>
               <p><span><a class="link-footer">Términos y condiciones</a></span></p>
               </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-space">
               <p>
                  <b>Contacto</b>
               </p>
               <p>
               <p><span><a class="link-footer">Facebook</a></span></p>
               <p><span><a class="link-footer">Twitter@soporteyaay</a></span></p>
               <p><span><a class="link-footer">contacto@yaaymexico.com</a></span></p>
               </p>
            </div>
         </div>
      </footer>
      <script>
      function validateForm() {
          var field1 = document.getElementById("from-zip").value;
          var field2 = document.getElementById("to-zip").value;
          var field3 = document.getElementById("long-description").value;
          var field4 = document.getElementById("width-description").value;
          var field5 = document.getElementById("high-description").value;
          var field6 = document.getElementById("weight-description").value;

          if ( field1 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field2 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field3 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field4 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field5 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field6 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
      }
      </script>
   </body>
</html>
