<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
      <script type="text/javascript" src="scripts/send_email.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span> <span class="icon-bar"></span>
               </button>
               <a href="#" class="navbar-brand"><img class="ico" src="images/icono.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
               <form class="navbar-form navbar-left m-form-search">
                  <div class="form-group"> <input class="form-control m-field-search" placeholder="Search"> </div>
                  <button type="submit" class="btn btn-default m-search">Buscar</button>
               </form>
            </div>
         </div>
      </nav>
      <div class="hero">
         <h1 class="text-hero">Elige un envío que se adapte  a tus tiempos y costos de forma segura y rápida</h1>
         <p><button type="button" class="button-section4 btn btn-primary" data-toggle="modal" data-target="#myModal">Cotizar</button></p>
         <img src="./images/ATF-1.jpg" />
      </div>
      <div class="container">
         <!-- Modal -->
         <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Descubre la mejor oferta para tu envío</h4>
                  </div>
                  <center><div class="modal-luz"></div></center>
                  <div class="modal-body">
                     <div class="modal-description fields">
                        <h4>¿Desde dónde?</h4>
                        <input id="from-zip" maxlength="5" type="text" placeholder="Ingresa código postal" class="form-control" required/>
                     </div>
                     <div class="modal-description fields">
                        <h4 id="h-from-zip">¿Hacia dónde?</h4>
                        <input id="to-zip" maxlength="5" type="text" placeholder="Ingresa código postal" class="form-control" required/>
                     </div>
                     <div class="modal-description fields measures data-fields">
                        <h3>Largo</h3>
                        <h3>Ancho</h3>
                        <h3>Alto</h3>
                        <h3>Peso</h3>
                     </div>
                     <div class="modal-description fields position-modal">
                        <select id="send-kind" class="form-control listo-modal">
                           <option value="">Qué envías</option>
                           <option value="Documento">Documento</option>
                           <option value="Paquete">Paquete</option>
                        </select>
                        <input id="long-description" placeholder="cm" type="text" class="form-control form-control-input" required/>
                        <input id="width-description" placeholder="cm" type="text" class="form-control form-control-input" required/>
                        <input id="high-description" placeholder="cm" type="text" class="form-control form-control-input" required/>
                        <input id="weight-description" placeholder="kg" type="text" class="form-control form-control-input" required/>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <h4>Recibir información</h4>
                    <input id="email" type="text" placeholder="Ingresa correo electrónico" required/>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="cotizar" class="btn btn-default" data-dismiss="modal">Cotizar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="darkbar">
         <h1 id="info-bar" class="info">¿Vendes en línea? Envía a través de Yaay <a>Mas información.</a></h1>
      </div>
      <div class="section-info" data-example-id="thumbnails-with-custom-content">
		     <h2 class="title-info" id="title-info">La plataforma que transforma la experiencia de enviar y recibir tus compras en línea.</h2>
         <div class="row rowsteps">
            <div class="col-sm-6 col-md-4 ico-info">
               <i class="icons ico1 fa fa-pencil-square-o" style="font-size: 4.6em !important" aria-hidden="true"></i>
               <h3 class="label-section3 step1"> 1.Completa el formulario</h3>
               <p class="step-info1"><span>Ingresa la dirección de origen y destino, especificaciones del paquete a enviar y datos de contacto.</span></p>
            </div>
            <div class="col-sm-6 col-md-4 ico-info">
               <i class="icons ico2 fa fa-envelope" aria-hidden="true"></i>
               <h3 class="label-section3 step2"> 2.Recibe nuestras ofertas en tu correo</h3>
               <p class="step-info2"><span>Te enviaremos un correo con los servicios que ofrecen diferentes paqueterias nacionales y locales.</span></p>
            </div>
         </div>
         <div class="row rowsteps">
            <div class="col-sm-6 col-md-4 ico-info">
               <i class="icons ico3 fa fa-credit-card-alt" style="font-size: 3.1em !important" aria-hidden="true"></i>
               <h3 class="label-section3 step3"> 3.Paga e imprime tu guía</h3>
               <p class="step-info3"><span>Realizar tu pago  a través de PayPal, depósito bancario o en OXXO. Te enviaremos un correo con la guia que debes imprimir.</span></p>
            </div>
            <div class="col-sm-6 col-md-4 ico-info">
               <i class="icons ico4 fa fa-map-marker" aria-hidden="true"></i>
               <h3 class="label-section3 step4">4.Programa tu recolección</h3>
               <p class="step-info4"><span>Nuestro equipo te contactará vía correo electrónico o Whatsapp para agendar la recolección.</span></p>
            </div>
         </div>
      </div>
      <div>
         <img class="logo2" src="./images/Logo-white.png" />
         <h1 class="m-text-section4">Yaay es una plataforma confiable y segura.</h1>
         <h1 class="text-section4">Yaay es una plataforma confiable y segura que te permite personalizar tus envíos y elegir el que se adapte mejor a ti.</h1>
         <h1 class="text2-section4">Además a través de Yaay puedes dar seguimiento a tus compras y recibir increíbles recompensas por cada envío.</h1>
         <img class="image2" src="./images/Image-home-2.jpg" />
      </div>
      <div style="display:none;">
         <form id="myform">
            <label>reply_to</label>
            <input type="text" name="reply_to" />
            <label>from_name</label>
            <input type="text" name="from_name" />
            <label>to_name</label>
            <input type="text" name="to_name" />
            <label>message_html</label>
            <input type="text" id="message_html" name="message_html" />
            <br><br>
            <input type="submit" value="Go">
         </form>
      </div>
      <footer class="main-footer">
         <div class="row row1">
          <ul class="links">
              <li>
                  <img class="ico-footer" src="images/icono.png">
                     <div class="navbar-collapse collapse address-footer" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
                        <span>Plataforma Yaay</span>
                        <br/>
                        <span>Paseo Boca del Río 114</span>
                        <br/>
                        <span>Veracruz México</span>
                     </div>

               </img>
              </li>

              <li>
                  <b>Acerca de</b>
                  <ul>
                     <li>Documentación</li>
                     <li>Preguntas frecuentes</li>
                     <li>Programas de recompensas</li>
                  </ul>
              </li>

              <li>
                  <b>Legal</b>
                  <ul>
                     <li>Nuestras políticas</li>
                     <li>Aviso de privacidad</li>
                     <li>Términos y condiciones</li>
                  </ul>
              </li>

              <li>
                  <b>Nosotros</b>
                  <ul>
                     <li>Nuestra Historia</li>
                     <li>Equipo Yaay</li>
                  </ul>
              </li>
              <li>
                  <b>Contacto</b>
                  <ul>
                     <li>Facebook/YaayMéxico</li>
                     <li>Twitter @soporteyaay</li>
                     <li>contacto@yaaymexico.mx</li>
                  </ul>
              </li>

          </ul>
         </div>
      </footer>
      <script>
      function validateForm() {
          var field1 = document.getElementById("from-zip").value;
          var field2 = document.getElementById("to-zip").value;
          var field3 = document.getElementById("long-description").value;
          var field4 = document.getElementById("width-description").value;
          var field5 = document.getElementById("high-description").value;
          var field6 = document.getElementById("weight-description").value;

          if ( field1 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field2 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field3 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field4 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field5 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
          if ( field6 == "") {document.getElementById("error").innerHTML =("Ingrese el dato requerido, porfavor") return false; }
      }
      </script>
   </body>
</html>
